<center><div class='well'>
	<h1>This is profile Page</h1>
	<h2>Username: {{nav.pinUser.username}}</h2>
	<div>
		<img class="img-circle img-responsive" src="{{nav.pinUser.image}}">
	</div>
	<div>
		<h1>Your Pins</h1>
		<div ng-repeat="pin in nav.pinUser.pins track by $index" ng-show="pin.deleted">
			<div>
				<div class="well pininfo">
					<h3>{{pin.title}}</h3>
					
					<div class="well imginfo">
						<img class="img-responsive"  src="{{pin.img}}">
					</div>
					<div class="well">
						{{pin.desc}}<br>
						{{pin.likes}}
					</div>
					<button ui-sref="EditPin({id: pin._id})" class="btn btn-warning">
						Edit
					</button>
					<!-- <button class="btn btn-danger" ng-click="nav.deletePin($index)">
						Delete
					</button> -->
				
					<button ui-sref="PinInfo({id: pin._id})" class="btn btn-info">See Pin</button>
				
					
		
	
				</div>
			</div>
		</div>
	</div>
</div></center>